<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="javascripts/index.js"></script>
        <link rel="stylesheet" href="stylesheets/index.css"/>
        <link rel="stylesheet" href="stylesheets/global.css"/>
    </head>
    <body class="ng-cloak">
        <div ng-controller="IndexController">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href>Wiki</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"><a class="nav-link">Home </a></li>
                        <li class="nav-item"><a class="nav-link" href="/about" target="_self">About The Project </a></li>
                        <li>
                            <div class="mini-loader-content">
                                <svg id="mini-loader" class="ng-hide" xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500.00001 500.00001">
                                    <g>
                                        <path id="b0" d="M66.734 66.734v366.533h366.532V66.734H66.734zm15 15h336.532v336.533H81.734V81.734z">
                                        </path>
                                        <path id="b2" d="M354.16 2.5v143.34H497.5V2.5H354.16zm10 10H487.5v123.34H364.16V12.5z">
                                        </path>
                                        <path id="b1" d="M0 2.5v143.34h143.34V2.5H0zm10 10h123.34v123.34H10V12.5z">
                                        </path>
                                        <path id="b3" d="M354.16 356.66V500H497.5V356.66H354.16zm10 10H487.5V490H364.16V366.66z">
                                        </path>
                                        <path id="b4" d="M0 356.66V500h143.34V356.66H0zm10 10h123.34V490H10V366.66z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm text-center">
                        <input class="form-control" type="text" name="textSearch" id="searchBox">
                    </div>
                    <div class="col-sm text-center">
                        <select class="form-control" id="categorySelect" ng-model="myDropDown">
                            <option value="Select A Value">Select A Value</option>
                            <option value="Title">Title</option>
                            <option value="People">People</option>
                        </select>
                    </div>
                    <div class="col-sm text-center" ng-if="myDropDown=='Title'">
                        <select multiple id="inputTitleType" class="form-control">
                            <option>Short</option>
                            <option>Movie</option>
                            <option>TV Movie</option>
                            <option>TV Series</option>
                            <option>TV Short</option>
                            <option>TV Mini Series</option>
                            <option>TV Special</option>
                            <option>Video Game</option>
                        </select>
                    </div>
                    <div class="col-sm text-center" ng-if="myDropDown=='People'">
                        <select multiple class="form-control" id="genreSelect">
                            <option>Action</option>
                            <option>Adventure</option>
                            <option>Animation</option>
                            <option>Biography</option>
                            <option>Comedy</option>
                            <option>Crime</option>
                            <option>Documentary</option>
                            <option>Drama</option>
                            <option>Family</option>
                            <option>Fantasy</option>
                            <option>Film Noir</option>
                            <option>History</option>
                            <option>Horror</option>
                            <option>Musical</option>
                            <option>Mystery</option>
                            <option>Romance</option>
                            <option>Sci-Fi</option>
                            <option>Short</option>
                            <option>Sport</option>
                            <option>Superhero</option>
                            <option>Thriller</option>
                            <option>War</option>
                            <option>Western</option>
                        </select>
                    </div>
                    <div class="col-sm text-center">
                        <input class="btn btn-primary" type="submit" value="Submit" ng-click="submitSearch()">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>