<!DOCTYPE html>
<html lang="en" ng-app="wikiApp">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="javascripts/wiki.js"></script>
    <link rel="stylesheet" href="stylesheets/wiki.css"/>
</head>
<body>
<div class="container" ng-controller="wikiController" ng-init="search()">
    <div class="row">
        <div class="col-md-12">
            <p>Title: {{primaryTitle}}</p>
            <p>title-type: {{primaryTitle}}</p>
            <p>Title: {{primaryTitle}}</p>

        </div>
    </div>
</div>


</body>
</html>